module {{.Module}}

go 1.25.0

require (
	github.com/2comjie/wali {{.Wali}}
	github.com/2comjie/wali/locator/redis v0.1.0
	github.com/2comjie/wali/registry/redis v0.1.0
	github.com/redis/go-redis/v9 v9.21.0
)
