package main

import (
	"github.com/2comjie/wali/app/node"
	"github.com/2comjie/wali/deploy"
	"github.com/2comjie/wali/flag"
	"google.golang.org/grpc"

	"{{.Project.Module}}/internal/bootstrap"
	service "{{.Project.Module}}/internal/{{.Node.Name}}"
)

func main() {
	infrastructure := bootstrap.NewInfrastructure()
	defer infrastructure.Redis.Close()

	router := node.NewRouter()
	if err := service.Register(router); err != nil {
		panic(err)
	}
	rpcServer := grpc.NewServer()
	service.RegisterRPC(rpcServer)

	options := infrastructure.DeployOptions()
	options = append(options,
		deploy.WithServiceName(flag.String("service", "{{.Node.Name}}")),
		deploy.WithInstanceID(flag.String("id", "{{.Node.Name}}-1")),
		deploy.WithNodeRouter(router),
		deploy.WithRPCServer(rpcServer),
	)
	app, err := deploy.Node(options...)
	if err != nil {
		panic(err)
	}
	if err := app.Run(); err != nil {
		panic(err)
	}
}
