syntax = "proto3";

package game.server.{{.Node.Name}};

option go_package = "{{.Project.Module}}/internal/pb/{{.Node.Name}};{{.Node.Name}}pb";

// {{.Service}} 是 {{.Node.Name}} Node 对其他服务器开放的内部RPC。
// 在这里添加RPC方法和消息，客户端业务协议放在api/client中。
service {{.Service}} {
}
