package {{.Package}}

import (
	nodeapp "github.com/2comjie/wali/app/node"
)

// {{.Handler}} 处理 {{.Route.Name}}。
func {{.Handler}}(ctx *nodeapp.Context) {
	{{if .Route.Reply -}}
	// TODO: 处理Call请求并返回业务Body。
	if err := ctx.Reply([]byte(`{"message":"TODO"}`)); err != nil {
		panic(err)
	}
	{{else -}}
	// TODO: 处理Tell请求，Tell不能调用Reply。
	{{end -}}
}
